<!-- templates/index.html -->

{% extends "core/_base.html" %}

{% block content %}
  <h1 class="text-3xl dark:text-gray-100 font-semibold pb-4 text-center sm:text-left">About me</h1>
  <div>
    <p class="dark:text-gray-100">My name is Yuki. I am an undergraduate Aerospace Systems Engineering student at the University of Glasgow. I am also involved in the university's Formula Student team, specifically the high voltage powertrain team. This involves the design and manufacture of an electric vehicle in competition with other universities in the United Kingdom and Europe. My work in the team involves the motor and inverter selection and integration, and regenerative braking system design. More of this work can be found in the projects part of this website.</p>
    <br> <!-- Insert UGR image here (after comp) -->
    
    <p class="dark:text-gray-100">Aside from engineering, I am also an avid aviator and musician. Currently I am working on my LAPL (Light air pilots license) which will left me fly a small 4 seater aircraft privately across the UK. For music, I have played violin from the age of 5 and viola since aged 10. I am now in the university orchestra as principle violist, but also as a member of the committee. My job on the committee is webmaster where I maintain the email and domain services, and the website written in Django.</p>
    <div class="flex flex-col items-center">
      <div class="relative m-16 w-4/6" style="aspect-ratio: 13/9">
        <img class="absolute top-0 left-0 w-3/6 rounded-xl" src="/static/res/img/about/kelvin_playing.jpeg">
        <img class="absolute bottom-0 right-0 w-4/6 rounded-xl" src="/static/res/img/about/kelvin_committee202324.jpg">
      </div>
      <p class="dark:text-gray-100">Left: Kelvin Ensemble 2023 concert photo  -  Right: Kelvin Ensemble Committee 2023/24</p>
    </div>
  </div>
{% endblock content %}
