

{% extends "core/_base.html" %}

{% block content %}

    <h1 class="text-3xl dark:text-gray-100 font-semibold pb-4 text-center sm:text-left">Projects</h1>
    <div>
        <p class="dark:text-gray-100">Please see below for my list of projects. Some of these may be concept designs which can be indicated by the CONCEPT tag. Tags can be selected below to narrow down what you are interested in.</p>
    </div>

    <div class="flex flex-row flex-wrap justify-center p-2 gap-x-6 gap-y-6 mt-4"> <!-- Project Container -->
        {% for project in projects %}
            {% include 'core/projectCard.html' with project=project %}
        {% endfor %}
    </div>

{% endblock content %}