<!-- templates/_base.html -->

{% load compress %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yuki Suter</title>

    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />

    <script>
        // On page load or when changing themes, best to add inline in `head` to avoid FOUC
        if (localStorage.getItem('color-theme') === 'dark' || (!('color-theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
            document.documentElement.classList.add('dark');
        } else {
            document.documentElement.classList.remove('dark')
        }
    </script>    

    {% compress css %}
    <!-- <link rel="stylesheet" href="{% static 'src/output.css' %}"> -->
    {% endcompress %}

</head>

<body class="bg-gray-200 dark:bg-gray-700 mx-10 xl:mx-96 lg:mx-40 md:mx-20 sm:mx-10">
    {% include 'core/topbar.html' %}
    <div class="container mt-6">

        {% block content %}
        {% endblock content %}
    </div>
</body>

</html>
