<div class="flex-none flex-wrap items-center">
    <div class="" id="navbar-default">
        <ul class="font-medium flex flex-row space-x-4 justify-center sm:justify-start p-4 mt-4 sm:flex-row md:space-x-8">
          <li>
            <a href="/" class="block text-xl py-2 pl-0 bg-transparent {% if active_page == 'home' %} text-blue-700 dark:text-blue-300 {% else %} text-gray-700 hover:text-gray-400 dark:text-gray-100 {% endif %}">Home</a>
          </li>
          <li>
            <a href="/about" class="block text-xl py-2 pl-0 bg-transparent {% if active_page == 'about' %} text-blue-700 dark:text-blue-300 {% else %} text-gray-800 hover:text-gray-500 dark:text-gray-100 {% endif %}">About</a>
          </li>
          <li>
            <a href="/projects" class="block text-xl py-2 pl-0 bg-transparent {% if active_page == 'projects' %} text-blue-700 dark:text-blue-300 {% else %} text-gray-800 hover:text-gray-500 dark:text-gray-100 {% endif %}">Projects</a>
          </li>
          <li>
            <a href="/posts" class="block text-xl py-2 pl-0 bg-transparent {% if active_page == 'blog' %} text-blue-700 dark:text-blue-300 {% else %} text-gray-800 hover:text-gray-500 dark:text-gray-100 {% endif %}">Blog</a>
          </li>
        </ul>
    </div>
</div>