

{% extends "core/_base.html" %}

{% load website_extras %}

{% block content %}
    <article class="prose w-max">
        <h1 class="text-3xl dark:text-gray-100 font-semibold text-center sm:text-left pb-0 mb-0">{{ post.title }}</h1>
        <p class="pb-4">{{post.date|date:"d/m/Y"}}</p>

        {{post.content | markdown}}
    </article>

    <h2 class="text-xl dark:text-gray-100 font-semibold pb-4 text-center sm:text-left mt-4">Attachments:</h2>
    {% for attachment in post.attachments.all %}
        {% include 'core/attachmentCard.html' with attachment=attachment root_url="/posts/" %}
    {% endfor %}
{% endblock content %}